[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ecodist"]
	path = ecodist
	url = https://github.com/phiala/ecodist
	shallow = true
	registered = true
