[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ecodist"]
	path = ecodist
	url = https://github.com/phiala/ecodist
[submodule "landsat"]
	path = landsat
	url = https://github.com/phiala/landsat
